body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: auto;
    background: linear-gradient(black,grey);
    }
  
  .calculatora-toda {
     display: flex;
    flex-wrap: wrap;
    justify-content: center; 
   opacity:1;
    width: 100%;
    margin-bottom:50px;
  
  }
  .calculadora-borrar {
    margin-left: auto; margin-right: 5PX; 
    margin-bottom: 10px;
    justify-content: space-between;
    width: 180px;
    display: flex;
    flex-direction: row;
  }
  .calculadora-botonera{
  
     display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0px;
  }
  header {
    width: 100%;
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-bottom:20px
  }
  
  main {
    background-color: white;
    border: 2px solid #ccc;
    width: 100%;
    max-width: 340px;
    box-shadow: 9px 10px 9px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  
  
  input[type="button"] {
  
    flex-basis: calc(25% - 10px); /* 10px para el margen, ajusta según sea necesario */
    flex-grow: 1;
    box-sizing: border-box;
    
  
    font-size: 1.5em;
    height:40px;
    width: 40px;
    margin: 2px;
    
    
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    border-radius: 15px;
  }
  
  input[type="button"]:hover {
    background-color: #45a049;
  }
  
  #Bnt-Borrar, #Bnt-borrarsolo {
    width: 45%;
    background-color: #f44336;
  }
  
  #Bnt-Borrar:hover, #Bnt-borrarsolo:hover {
    background-color: #d32f2f;
  }
  
  .calculadora-resultados{
   display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  .calculadora-resultados input[type="text"] {
    
    border:none;
    border-bottom: 2px solid #ccc;
    margin-left:auto;
    margin-right:0px;
    width: 95%;
    font-size: 2em;
    margin: 10px;
    text-align: right;
    
    
  }
  
  footer {
    align-content: center; 
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 100%;
  }
  
  footer p {
    margin: 0;
  }
  .mostrar340{
    display:none;
    box-shadow: 5px 5px 0px 5px grey;
    border-radius: 20%;
    margin: auto;
    padding:20px;
    width: 70%;
    color: white;
    font-family: fantasy;
    font-size: 2em;
     text-align:left;
  }
  
  @media (min-width: 400px) {
    header{
      font-size: 2em;
    }
    main{
      height:auto;
      
    }
    
    
  }
  
  @media (max-width: 400px) {
    body{
      background-color: black;
    }
    .mostrar340{
      display: block;
    }
    header, main, footer {
    display: none;
    }
    
  }
  